<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5 col-md-6 col-sm-12 text-center">
      <img src="../../assets/profile_pic.jpg" class="img-thumbnail" style="max-width: 60%" alt="Responsive image">
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <h1 class="display-4">Bio:</h1>
      <p class="lead">
        Graeme is driven software and web developer that loves to learn. At a young age Graeme learned HTML/CSS.
        He continued to grow his knowledge
        of computer science and web development practices in highschool, where he learned Java and Python.
        Today Graeme prefers to develop restful python backends matched with modern JS frontends.
        In his free time, Graeme can be found playing music, out with friends or simply relaxing.
        He has played guitar since he was young and loves playing Folk. Graeme has also played
        electric bass in a few bands.
      </p>
      <a class="btn btn-link" href="/photo-gallery" role="button">Photo Gallery</a>
      <a class="btn btn-link" href="https://soundcloud.com/graemebates/tracks" target="_blank" role="button">Soundcloud</a>
    </div>
  </div>
</div>
